<h2>Diretivas Customizadas</h2>
<p fundoAmarelo>Texto com fundo amarelo</p>
<div>
    <button fundoAmarelo>Botão com fundo amarelo</button>
</div>

<div>
    <p highlightMouse>Texto com highlight rosa ao passar mouse</p>
</div>

<div>
    <p [highlight]="'red'" [defaultColor]="'green'">Texto com highlight com cores customizadas</p>
</div>

<h2>Diretiva ngElse criada</h2>

<div *ngIf="mostrarCursos" >
    Lista de Cursos a mostrar:    
</div>
<div *ngElse="mostrarCursos" >
    Não há lista de cursos    
</div>

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>