<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" [ngModel]="usuario.nome" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="usuario.email" required email>
    </mat-form-field>
    <button mat-raised-button color="primary">Primary</button>
</form>
<!-- [ngModel]="usuario.nome" - assim só inicializa o valor no input na tela-->
<!-- [(ngModel)]="usuario.nome" - assim inicializa e atualiza como escreveu-->