<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>CEP</mat-label>
                <input matInput formControlName="cep" (blur)="consultaCEP()">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero" >

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Rua</mat-label>
                <input matInput formControlName="rua">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Bairro</mat-label>
                <input matInput formControlName="bairro">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select  formControlName="estado">
                  <mat-option *ngFor="let estado of estados | async" [value]="estado.sigla" >
                    {{estado.nome}}
                  </mat-option>
                </mat-select>

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
              <mat-label>Cargo</mat-label>
              <mat-select  formControlName="cargo" [compareWith]="compararCargos">
                <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                  {{cargo.desc}}
                </mat-option>
              </mat-select>

          </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>
    <div style="text-align: center;">
        <button mat-raised-button color="primary">Enviar</button>
        <button mat-raised-button color="warn" (click)="resetar()">Cancelar</button>
        <button mat-raised-button color="warn" (click)="setarCargo()">Cancelar</button>

    </div>
    <div style="text-align: center;">
        <app-form-debug [form]="formulario"></app-form-debug>
    </div>
</form>
