<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
              <mat-label>Confirmar Email</mat-label>
              <input matInput formControlName="confirmarEmail">
          </mat-form-field>
          <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')" msgErro="Os emails não são iguais.">
          </app-campo-control-erro>
      </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>CEP</mat-label>
                <input matInput formControlName="cep" (blur)="consultaCEP()">

            </mat-form-field>
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('cep')" msgErro="CEP é obrigatório.">
            </app-campo-control-erro>
            <app-campo-control-erro [mostrarErro]="formulario.get('cep').hasError('cepInvalido')" msgErro="CEP inválido.">
            </app-campo-control-erro>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero" >

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Rua</mat-label>
                <input matInput formControlName="rua">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Bairro</mat-label>
                <input matInput formControlName="bairro">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade">

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select  formControlName="estado">
                  <mat-option *ngFor="let estado of estados | async" [value]="estado.sigla" >
                    {{estado.nome}}
                  </mat-option>
                </mat-select>

            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
              <mat-label>Cargo</mat-label>
              <mat-select  formControlName="cargo" [compareWith]="compararCargos">
                <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                  {{cargo.desc}}
                </mat-option>
              </mat-select>

          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
              <mat-label>Tecnologias</mat-label>
              <mat-select multiple formControlName="tecnologias" id="tecnologias">
                <mat-option  *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">
                  {{tecnologia.desc}}
                </mat-option>
              </mat-select>

          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-radio-group aria-label="Select an option">
            <mat-label >Newsletter</mat-label><br><br>
            <div *ngFor="let item of newsletterOp" >
              <mat-radio-button ngDefaultControl id={{item.id}} [value]="item.valor" formControlName="newsLetter">{{ item.desc }}</mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-checkbox class="example-margin" formControlName="termos">Aceito os termos</mat-checkbox>
        </mat-grid-tile>


        <!-- <mat-grid-tile>
          testeeeee
          <div formArrayName="frameworks"  *ngFor="let item of formulario.get('frameworks')['controls']; let i = index;" >
            <mat-label >Frameworks</mat-label><br><br>
            <mat-checkbox class="example-margin" [formControlName]="i"> {{ frameworks[i] }}</mat-checkbox>
          </div>
          testeeee333
        </mat-grid-tile> -->

        <mat-grid-tile>
          <div class="checkbox"  formArrayName="frameworks"
              *ngFor="let item of formulario.get('frameworks')['controls']; let i = index">
              <mat-checkbox type="checkbox" [formControlName]="i"> {{ frameworks[i] }} </mat-checkbox>

          </div>

      </mat-grid-tile>


    </mat-grid-list>
    <div style="text-align: center;">
        <button mat-raised-button color="primary">Enviar</button>
        <button mat-raised-button color="warn" (click)="resetar()">Cancelar</button>
        <button mat-raised-button (click)="setarCargo()">Cargo</button>
        <button mat-raised-button (click)="setarTecnologias()">tecnologias</button>

    </div>
    <div style="text-align: center;">
        <app-form-debug [form]="formulario"></app-form-debug>
    </div>
</form>
